
# Create a .env file based on this template

# App login methods
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
FACEBOOK_APP_ID=""
FACEBOOK_APP_SECRET=""

# Database host url
MONGODB_HOST_1=""
MONGODB_HOST_2=""

# Database instance name
MONGODB_NAME=""

# Database credentials 
MONGODB_USER=""
MONGODB_PASS=""
