
body {
  --primary-bg: #191934;
  --primary-color: #6A6A93;
  --body-bg: #0F0E22;
  --body-color: #bebebe;
}
/*body {
  --primary-bg: #ebebeb;
  --primary-color: #147600;
  --body-bg: #ebebeb;
  --body-color: #2e2e2e;
}*/